<template>
  <v-list color="transparent" nav>
    <!-- Item for each task -->
    <v-list-item
      v-for="(task, i) in tasks"
      :key="i"
      @click.prevent="$emit('input', i)"
    >
      <!-- Checkbox -->
      <v-checkbox
        color="primary"
        :input-value="task.completed"
        hint="You can mark this complete by clicking this item"
        class="mx-1"
        @click.native.prevent.stop="clickTaskCheckbox(task.id, task.completed)"
      ></v-checkbox>
      <v-list-item-content>
        <!-- Title -->
        <v-list-item-title>
          {{ task.title }}
        </v-list-item-title>
        <!-- Subtitle -->
        <v-list-item-subtitle>
          <!-- If completed, show completion date, if has due date, show it -->
          <div
            v-if="task.completed || task.due_date"
            class="d-flex d-flex-row align-baseline mt-0"
          >
            <v-icon
              small
              :color="task.completed ? 'primary' : 'error'"
              class="mr-1"
            >
              {{ task.completed ? 'mdi-check' : 'mdi-alarm' }}
            </v-icon>
            <span>
              {{ formatDate(task.completed_date || task.due_date) }}
            </span>
          </div>
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script lang="ts">
/* eslint-disable camelcase */

import Vue, { PropType } from 'vue'
import { authFetch } from '@/services/workerise'
import { BackendTask } from '@/global.types'

export default Vue.extend({
  name: 'TaskList',
  props: {
    tasks: {
      type: Array as PropType<BackendTask[]>,
      required: true,
    },
    value: {
      type: Number,
      required: false,
    },
  },
  methods: {
    async clickTaskCheckbox(
      id: number,
      prevCompletedStatus: boolean
    ): Promise<void> {
      try {
        const completedDate =
          // If being marked complete
          prevCompletedStatus === false
            ? // Set to today by default
              new Date().toISOString().split('T')[0]
            : // Otherwise, set to null
              null

        // Patch the task to mark completed
        await authFetch<BackendTask[]>({
          url: `/api/tasks/${id}/`,
          method: 'PATCH',
          body: JSON.stringify({
            completed: !prevCompletedStatus,
            // Set today for completed date
            completed_date: completedDate,
          }),
          // @ts-ignore
          token: this.$auth.strategy.token.get(),
        })
        this.$emit('task-updated')
      } catch (err) {
        console.error(err)
      }
    },
    formatDate(dateString: string) {
      const [, month, day] = dateString.split('-')
      const monthString = this.$t(`dates.months.${parseInt(month)}`)
      return `${parseInt(day)} ${monthString}`
    },
  },
})
</script>
