<template>
  <v-dialog :value="task" @click:outside="$emit('close')" max-width="700px">
    <v-card v-if="task">
      <v-container class="pa-6">
        <span class="caption">{{ task.required ? 'Required' : '' }}</span>
        <div class="d-flex d-flex-row align-baseline">
          <v-checkbox
            :input-value="task.completed"
            @click="clickTaskCheckbox(task.id, task.completed)"
            color="primary"
          />

          <span class="text-h5">{{ task.title }}</span>
        </div>

        <!-- Completed button -->
        <div class="d-flex d-flex-row align-baseline mt-0">
          <v-menu v-if="task.completed">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                outlined
                color="primary"
                depressed
                v-bind="attrs"
                small
                v-on="on"
              >
                <v-icon class="ml-n1 mr-1">mdi-check</v-icon
                >{{ formatDate(task.completed_date) }}
              </v-btn>
            </template>
            <v-date-picker @input="changeCompletionDate"></v-date-picker>
          </v-menu>
        </div>

        <div class="mt-8">
          <div v-html="documentToHtmlString(task.content)" />
        </div>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
/* eslint-disable camelcase */
/* eslint-disable no-console */

import Vue, { PropType } from 'vue'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'
import { BackendTask, JoinedTask } from '@/global.types'
import { authFetch } from '@/services/workerise'

export default Vue.extend({
  name: 'TaskDetail',
  props: {
    task: {
      type: Object as PropType<JoinedTask>,
      required: false,
    },
  },
  methods: {
    documentToHtmlString,
    // Marks the task complete or incomplete
    async clickTaskCheckbox(
      id: number,
      prevCompletedStatus: boolean
    ): Promise<void> {
      try {
        const completedDate =
          // If being marked complete
          prevCompletedStatus === false
            ? // Set to today by default
              new Date().toISOString().split('T')[0]
            : // Otherwise, set to null
              null

        // Patch the task to mark completed
        await authFetch<BackendTask[]>({
          url: `/api/tasks/${id}/`,
          method: 'PATCH',
          body: JSON.stringify({
            completed: !prevCompletedStatus,
            // Set today for completed date
            completed_date: completedDate,
          }),
          // @ts-ignore
          token: this.$auth.strategy.token.get(),
        })
        this.$emit('task-updated')
      } catch (err) {
        console.error(err)
      }
    },
    async changeCompletionDate(newCompletedDate: string): Promise<void> {
      try {
        // Patch the task to mark completed
        await authFetch<BackendTask[]>({
          url: `/api/tasks/${this.task.id}/`,
          method: 'PATCH',
          body: JSON.stringify({
            completed_date: newCompletedDate,
          }),
          // @ts-ignore
          token: this.$auth.strategy.token.get(),
        })
        this.$emit('task-updated')
      } catch (err) {
        console.error(err)
      }
    },
    formatDate(dateString: string) {
      const [, month, day] = dateString.split('-')
      const monthString = this.$t(`dates.months.${parseInt(month)}`)
      return `${parseInt(day)} ${monthString}`
    },
  },
})
</script>
