<template>
  <v-dialog :value="show" persistent max-width="340">
    <v-card>
      <v-container class="pa-5">
        <h2>Confirm password</h2>
        <v-form ref="confirmPasswordModalForm" @submit="confirmPassword">
          <PasswordField v-modal="password" class="mt-4" outlined />
          <ErrorAlert v-if="error" :message="error" />
          <v-row no-gutters>
            <v-spacer></v-spacer>
            <v-btn depressed class="mr-2" @click="$emit('close')">Cancel</v-btn>
            <v-btn color="primary" type="submit" depressed>Confirm</v-btn>
          </v-row>
        </v-form>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue'

import { authFetch } from '@/services/workerise'

import PasswordField from '../inputs/PasswordField.vue'
import ErrorAlert from './ErrorAlert.vue'

export default Vue.extend({
  name: 'ConfirmPasswordModal',
  components: {
    PasswordField,
    ErrorAlert,
  },
  props: {
    show: {
      type: Boolean,
      required: true,
      default: false,
    },
  },
  data() {
    return {
      password: undefined as string | undefined,
      error: undefined as string | undefined,
    }
  },
  methods: {
    async confirmPassword() {
      // Reset errors
      this.error = undefined
      // Validation
      // @ts-ignore
      const validationState = this.$refs.confirmPasswordModalForm.validate()
      console.log(validationState)
      if (!validationState) return

      try {
        await authFetch({
          url: `/api/login/`,
          method: 'POST',
          body: JSON.stringify({
            password: this.password,
            // @ts-ignore
            username: this.$auth.user.username,
          }),
        })
        this.$emit('password-confirmed')
      } catch (err) {
        console.error(err)
        this.error = 'Incorrect password'
      }
    },
  },
})
</script>
