<template>
  <v-alert type="error" data-cy="error-alert">{{ message }}</v-alert>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'FormErrorAlert',
  props: {
    message: {
      type: String,
      required: true,
    },
  },
})
</script>
