<template>
  <DefaultAlignment>
    <h1>About {{ $auth.user.company.name }}</h1>

    <h2 class="mt-3">{{ 'Your colleagues' }}</h2>

    <!-- Colleagues list -->
    <v-list-item v-for="(user, i) in colleagues" :key="i" two-line>
      <v-list-item-content>
        <v-list-item-title>
          {{ user.username }}
          <span v-if="user.username === $auth.user.username">(You)</span>
        </v-list-item-title>
        <v-list-item-subtitle>{{ user.email }}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <section
      v-if="invitedColleagues && invitedColleagues.length > 0"
      class="mt-2"
      data-cy="invitedColleaguesSection"
    >
      <h2>
        {{ 'Open Invitations' }}
      </h2>
      <v-list-item v-for="(invitedUser, i) in invitedColleagues" :key="i">
        <v-list-item-content>
          <v-list-item-title>{{ invitedUser.email }}</v-list-item-title>
        </v-list-item-content>
        <v-list-item-action>
          <v-btn
            color="error"
            depressed
            :data-cy="`cancelInviteButton-${invitedUser.id}`"
            @click="deleteInvitation(invitedUser.id, invitedUser.email)"
          >
            Cancel
          </v-btn>
        </v-list-item-action>
      </v-list-item>
    </section>

    <FormsInviteColleague class="mt-2" @invite-sent="getInvitedColleagues" />

    <v-divider class="mt-8" />
    <h3 class="mt-4">Delete company</h3>
    <p>
      To delete your company account, please contact support at
      <a>support@workerise.org</a>. Only the creator of the company account can
      delete it.
    </p>
  </DefaultAlignment>
</template>

<script lang="ts">
import Vue from 'vue'
import { User } from '@/global.types'
import { authFetch } from '@/services/workerise'

import DefaultAlignment from '@/components/grid/DefaultAlignment.vue'

export default Vue.extend({
  name: 'CompanyPage',
  auth: true,
  components: {
    DefaultAlignment,
  },

  data() {
    return {
      colleagues: undefined as User[] | undefined,
      invitedColleagues: undefined as User[] | undefined,
    }
  },

  mounted() {
    this.getColleagues()
    this.getInvitedColleagues()
  },

  methods: {
    async getColleagues(): Promise<void> {
      try {
        const colleagues = await authFetch<User[]>({
          url: '/api/users/',
          // @ts-ignore
          token: this.$auth.strategy.token.get(),
        })
        this.colleagues = colleagues
      } catch (err) {
        console.error(err)
      }
    },
    async getInvitedColleagues(): Promise<void> {
      // Get invited colleagues
      try {
        const invitedColleagues = await authFetch<User[]>({
          url: '/api/invited-users/',
          // @ts-ignore
          token: this.$auth.strategy.token.get(),
        })
        this.invitedColleagues = invitedColleagues
      } catch (err) {
        console.error(err)
      }
    },
    async deleteInvitation(id: number): Promise<void> {
      try {
        await authFetch({
          url: `/api/invited-users/${id}/`,
          method: 'DELETE',
          // @ts-ignore
          token: this.$auth.strategy.token.get(),
        })
        this.getInvitedColleagues()
      } catch (err) {
        console.error(err)
      }
    },
  },
})
</script>
