<template>
  <!-- Language Selector -->
  <v-menu top>
    <template v-slot:activator="{ on, attrs }">
      <v-btn icon v-bind="attrs" v-on="on">
        <v-icon>mdi-earth</v-icon>
      </v-btn>
    </template>

    <v-list>
      <v-list-item
        v-for="(locale, index) in $i18n.locales"
        :key="index"
        :disabled="$i18n.locale === locale.code"
        @click="
          () => {
            $i18n.setLocale(locale.code)
          }
        "
      >
        <v-list-item-title>
          {{ locale.name }}
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'LanguageSelect',
})
</script>
