<template>
  <div v-if="tasks">
    <v-row justify="center" class="mt-2">
      <v-col sm="12" md="6" lg="6" xl="4">
        <v-container>
          <h2>Tasks</h2>
          <TaskList
            v-model="selectedTask"
            :tasks="tasks"
            @task-updated="getTasks"
          />
        </v-container>
      </v-col>
    </v-row>
    <TaskDetail
      :task="tasks[selectedTask]"
      @task-updated="getTasks"
      @close="selectedTask = undefined"
    />
  </div>
</template>

<script lang="ts">
/* eslint-disable camelcase */

import Vue from 'vue'

import { JoinedTask, BackendTask, ContentfulTaskFields } from '@/global.types'
import { authFetch } from '@/services/workerise'
import contentful from '@/plugins/contentful'

import TaskList from '@/components/tasks/TaskList.vue'
import TaskDetail from '@/components/tasks/TaskDetail.vue'

// Create contentful client
const client = contentful.createClient()

export default Vue.extend({
  name: 'TasksPage',
  auth: true,
  components: {
    TaskList,
    TaskDetail,
  },

  async asyncData({ app }) {
    // Get Contentful Tasks
    const contentfulTasks = await client.getEntries<ContentfulTaskFields>({
      content_type: 'task',
      locale: app.i18n.locale,
    })
    return { contentfulTasks }
  },

  data() {
    return {
      tasks: undefined as undefined | JoinedTask[],
      selectedTask: undefined,
    }
  },

  async mounted() {
    await this.getTasks()
    // Get next incomplete task
    // this.selectedTask = this.tasks?.reduce((acc, task, i) => {
    //   if (task.completed) {
    //     return i + 1
    //   }
    //   return acc
    // }, 0) as number
  },

  methods: {
    async getTasks(): Promise<void> {
      // Get Workerise Tasks
      const workeriseTasks = await authFetch<BackendTask[]>({
        url: '/api/tasks/',
        // @ts-ignore
        token: this.$auth.strategy.token.get(),
      })

      // Join Workerise and Contentful tasks
      this.tasks = workeriseTasks?.map((task) => {
        // Matching Contentful Task
        // @ts-ignore
        const contentfulTask = this.contentfulTasks?.items.find((item) => {
          return item.fields.key === task.key
        })
        return {
          ...task,
          title: contentfulTask?.fields.title,
          content: contentfulTask?.fields.content,
        } as JoinedTask
      })
    },
  },
})
</script>
