<template>
  <DefaultAlignment>
    <h1>Settings</h1>

    <v-expansion-panels flat accordion :value="0">
      <!-- User Details -->
      <v-expansion-panel>
        <v-expansion-panel-header data-cy="user-details-section-activator">
          <h3>User Details</h3>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-container>
            <FormsEditUserDetails />
          </v-container>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <!-- Change Password -->
      <v-expansion-panel>
        <v-expansion-panel-header data-cy="change-password-section-activator">
          <h3>Change Password</h3>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-container>
            <FormsChangePassword />
          </v-container>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <!-- Delete User -->
      <v-expansion-panel>
        <v-expansion-panel-header data-cy="delete-account-section-activator">
          <h3>Delete Account</h3>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-container>
            <p>
              Be aware this is permanent. If you are the only member of your
              company, your company will be deleted. You will have to ask a
              colleague to invite you again to rejoin your company.
            </p>
            <FormsDeleteAccount @account-deleted="handleAccountDeleted" />
          </v-container>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </DefaultAlignment>
</template>

<script lang="ts">
import Vue from 'vue'

import DefaultAlignment from '@/components/grid/DefaultAlignment.vue'

export default Vue.extend({
  name: 'UserSettingsPage',
  components: {
    DefaultAlignment,
  },

  methods: {
    handleAccountDeleted() {
      this.$router.push('/logout')
    },
  },
})
</script>
