// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$navigation-drawer-border-width: 0px !important;

$dialog-border-radius: 20px !important;
$dialog-elevation: 0px !important;
