<template>
  <v-text-field
    v-model="password"
    :label="
      confirm
        ? $t('forms.inputs.PasswordField.confirmLabel')
        : $t('forms.inputs.PasswordField.label')
    "
    :type="showPassword ? 'text' : 'password'"
    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
    :outlined="outlined"
    :rules="rules"
    :data-cy="confirm ? 'confirmPasswordField' : 'passwordField'"
    @click:append="showPassword = !showPassword"
  />
</template>

<script lang="ts">
import Vue from 'vue'

import { minLength, required, match } from './rules'

export default Vue.extend({
  name: 'SetPasswordFields',
  props: {
    value: {
      type: String,
      default: undefined,
    },
    confirm: {
      type: Boolean,
      required: false,
      default: false,
    },
    checkAgainst: {
      type: String,
      required: false,
      default: '',
    },
    outlined: {
      type: Boolean,
      default: false,
    },
    noValidate: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      password: undefined as string | undefined,
      showPassword: false as boolean,
      rules: [
        // Required
        (e: string) =>
          this.noValidate ||
          required(e) ||
          this.$t('forms.validation.required'),
        // Min Length
        (e: string) => {
          return (
            this.noValidate ||
            minLength(e, 8) ||
            this.$t('forms.validation.minLength', [8])
          )
        },
        // Match
        (e: string) =>
          !this.confirm ||
          match(e, this.checkAgainst) ||
          this.$t('forms.validation.match'),
      ],
    }
  },

  watch: {
    password(value) {
      this.$emit('input', value)
    },
  },
})
</script>
