<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" app clipped color="#fafafa">
      <v-container>
        <v-list>
          <v-list-item
            v-for="(item, i) in drawerItems"
            :key="i"
            :to="item.to"
            router
            exact
          >
            <v-list-item-action class="mr-4">
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title v-text="item.title" />
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-container>
    </v-navigation-drawer>
    <v-app-bar fixed app flat dense dark clipped-left color="#db4c3f">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <LanguageSelect />
    </v-app-bar>
    <v-main>
      <nuxt />
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      drawer: false,
      title: 'WORKERISE',
      drawerItems: [
        {
          icon: 'mdi-format-list-checks',
          title: this.$t('tasks.title'),
          to: '/tasks',
        },
        {
          icon: 'mdi-book-open-page-variant',
          title: this.$t('resources.title'),
          to: '/resources',
        },
        {
          icon: 'mdi-domain',
          title: this.$t('company.title'),
          to: '/company',
        },
        {
          icon: 'mdi-cog',
          title: this.$t('settings.title'),
          to: '/user/settings',
        },
        {
          icon: 'mdi-logout',
          title: this.$t('user.logout'),
          to: '/logout',
        },
      ],
    }
  },
}
</script>
