<template>
  <v-app>
    <v-app-bar app absolute flat color="transparent">
      <LanguageSelect class="mr-3" />

      <!-- Tabs -->
      <!-- <v-btn class="mr-3" depressed nuxt to="/login">
        {{ $t('user.login') }}
      </v-btn>
      <v-btn class="mr-3" depressed nuxt to="/signup">
        {{ $t('user.signup') }}
      </v-btn> -->
    </v-app-bar>

    <v-main>
      <nuxt />
    </v-main>

    <v-footer app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>
