<template>
  <DefaultAlignment>
    <div v-if="invitedUser">
      <h1>Accept invitation</h1>

      <p>You have been invited to use Workerise.</p>

      <p>
        Please enter a password to create an account, so you can join your team
      </p>

      <FormsAcceptInvite
        :user="invitedUser"
        @invite-accepted="handleInviteAccepted"
      />
    </div>
  </DefaultAlignment>
</template>

<script lang="ts">
import Vue from 'vue'
import querystring from 'query-string'

import { InvitedUser } from '@/global.types'
import { authFetch } from '@/services/workerise'

import DefaultAlignment from '@/components/grid/DefaultAlignment.vue'

export default Vue.extend({
  name: 'AcceptInvitePage',
  auth: false,
  layout: 'unauthenticated',
  components: {
    DefaultAlignment,
  },
  data() {
    return {
      invitedUser: undefined as InvitedUser | undefined,
    }
  },
  mounted() {
    const { id } = querystring.parse(location.search)
    // If there is a query param for username
    if (typeof id === 'string') {
      this.getInvitedUser(id)
    } else {
      // Redirect user to a 404 page
      this.$router.push('/404')
    }
  },
  methods: {
    async getInvitedUser(uuid: string) {
      try {
        this.invitedUser = await authFetch({
          url: `/api/invited-users/${uuid}/`,
        })
      } catch (e) {
        console.error(e)
        this.$router.push('404')
      }
    },
    handleInviteAccepted(username: string) {
      // redirect user
      this.$router.push(`/login?username=${username}`)
    },
  },
})
</script>
