<template>
  <div>
    <!-- Hero Section -->
    <ContentfulSection>
      <!-- Logo and Brand Name -->
      <div class="d-flex justify-center align-center mb-8">
        <v-img
          src="/WorkeriseLogo.svg"
          contain
          max-height="30"
          max-width="40"
          class="mr-3"
        />
        <h3 class="text-h5">Workerise</h3>
      </div>

      <!-- Main text -->
      <h2 class="text-h3 text-center mb-10">
        {{ $t('homePage.hero.main') }}
      </h2>

      <!-- Description -->
      <v-row justify="center">
        <v-col sm="8" md="8" lg="8" xl="5">
          <p class="text-center">
            {{ $t('homePage.hero.subtext') }}
          </p>
        </v-col>
      </v-row>

      <!-- Action buttons -->
      <div class="button-row mt-5">
        <v-btn
          depressed
          class="pa-7"
          color="success"
          dark
          tile
          link
          href="https://www.patreon.com/river_h?fan_landing=true"
        >
          {{ $t('homePage.hero.donateButton') }}
          <v-icon class="ml-2">mdi-cash-multiple</v-icon>
        </v-btn>
        <v-btn
          depressed
          class="pa-7"
          color="secondary"
          dark
          tile
          link
          href="https://cdn.forms-content.sg-form.com/590b8ab3-68c7-11eb-a587-e6a6603caded"
        >
          {{ $t('homePage.hero.actionButton') }}
          <v-icon class="ml-2">mdi-arrow-right</v-icon>
        </v-btn>
      </div>
    </ContentfulSection>
  </div>
</template>

<script lang="ts">
export default {
  layout: 'unauthenticated',
  auth: 'guest',
  components: {},
  computed: {
    isSmallScreen(): boolean {
      // @ts-ignore
      return ['xs'].includes(this.$vuetify.breakpoint.name)
    },
  },
}
</script>

<style scoped lang="scss">
.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button-row * + * {
  margin-left: 10px;
}

@media (max-width: 600px) {
  .button-row {
    flex-direction: column;
  }

  .button-row * + * {
    margin-left: 0;
    margin-top: 10px;
  }
}
</style>
