<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="6" md="4" lg="3" xl="2">
      <v-container class="mt-6">
        <h2 class="mb-5">{{ $t('user.login') }}</h2>

        <!-- Alert from queryparams -->
        <v-alert
          v-if="alert"
          type="success"
          class="mb-7"
          data-cy="queryParamAlert"
          >{{ alert }}</v-alert
        >

        <FormsLogin @login="handleLogin" />
      </v-container>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import querystring from 'query-string'
import Vue from 'vue'

export default Vue.extend({
  name: 'LoginPage',
  auth: 'guest',
  layout: 'unauthenticated',
  data() {
    return {
      alert: undefined as string | undefined,
    }
  },
  mounted() {
    const queryParams = querystring.parse(location.search)
    // If there is a query param for username
    if (queryParams.username) {
      this.$t('')
      this.alert = `Thanks for creating an account, ${queryParams.username}.`
    }
  },
  methods: {
    handleLogin(): void {
      this.$router.push('/tasks')
    },
  },
})
</script>
