<template>
  <div></div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'LogoutPage',
  auth: true,
  beforeCreate() {
    this.$auth.logout()
    this.$router.push('/login')
  },
})
</script>
