<template>
  <v-row justify="center">
    <v-col cols="12" xl="6" lg="8" md="10">
      <v-container>
        <v-row>
          <v-col cols="12" sm="6">
            <v-container>
              <h2 class="text-h3 mb-5">Welcome to Workerise!</h2>

              <p class="mt-3">
                Sign up here if you or one of your colleagues have not yet
                created an account for your company.
              </p>
              <p class="mt-3">
                Currently Workerise only supports companies in Germany with
                fewer than 100 employees working at your branch. If you are
                unsure about wether your company is supported, please contact
                <a href="mailto:support@workerise.org">support@workerise.org</a
                >. We are happy to answer any questions, or put you in touch
                with a union representative who can help.
              </p>
            </v-container>
          </v-col>
          <v-col cols="12" sm="6">
            <v-container>
              <h2 class="text-h3 mb-5">{{ $t('user.signup') }}</h2>
              <FormsSignup @signup="handleSignup" />
            </v-container>
          </v-col>
        </v-row>
      </v-container>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'SignUpPage',
  auth: 'guest',
  layout: 'unauthenticated',
  components: {},
  methods: {
    handleSignup(username: string): void {
      this.$router.push(`/login?username=${username}`)
    },
  },
})
</script>
