<template>
  <v-sheet class="py-12" :color="color">
    <h3 v-if="title" class="text-center text-h4 mb-6">{{ title }}</h3>
    <!-- Content width -->
    <v-row justify="center" align="center" no-gutters>
      <v-col sm="12" md="10">
        <v-container>
          <slot />
        </v-container>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'HomePageContentfulSection',
  props: {
    color: {
      type: String,
      default: 'white',
      required: false,
    },
    title: {
      type: String,
      default: null,
      required: false,
    },
  },
})
</script>
