<template>
  <v-container>
    <h1>{{ resource.fields.title }}</h1>

    <div v-html="documentToHtmlString(resource.fields.content)" />
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { Entry } from 'contentful/index'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'

import { ContentfulResourceFields } from '@/global.types'
import contentful from '@/plugins/contentful'

const client = contentful.createClient()

export default Vue.extend({
  name: 'ResourceDetail',
  auth: true,
  components: {},
  async asyncData({ params, app }) {
    const id = params.id
    const resource: Entry<ContentfulResourceFields> = await client.getEntry<ContentfulResourceFields>(
      id,
      {
        locale: app.i18n.locale,
      }
    )
    return { resource }
  },
  methods: {
    documentToHtmlString,
  },
})
</script>
