<template>
  <v-container>
    <h1>Resources Centre</h1>

    <v-row class="mt-8">
      <v-col v-for="(resource, i) in resources.items" :key="i" cols="4">
        <v-card outlined>
          <v-card-title>{{ resource.fields.title }}</v-card-title>
          <v-card-text>{{ resource.fields.description }}</v-card-text>
          <v-card-actions>
            <nuxt-link :to="`/resources/${resource.sys.id}`"
              >Click here to view</nuxt-link
            >
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { EntryCollection } from 'contentful/index'
import { ContentfulResourceFields } from '@/global.types'
import contentful from '@/plugins/contentful'

const client = contentful.createClient()

export default Vue.extend({
  name: 'ResourcesPage',
  auth: true,
  components: {},
  async asyncData({ app }) {
    const resources: EntryCollection<ContentfulResourceFields> = await client.getEntries<ContentfulResourceFields>(
      {
        content_type: 'info-resource',
        locale: app.i18n.locale,
      }
    )
    return { resources }
  },
})
</script>
