<template>
  <v-form ref="acceptInvitationForm" @submit.prevent="acceptInvitation">
    <v-text-field
      disabled
      :value="user.company_name"
      label="Company Name"
      class="mb-n4 mt-3"
    />
    <v-text-field
      disabled
      :value="user.email"
      label="Email"
      class="mb-n4 mt-3"
    />
    <v-text-field
      v-model="formData.username"
      color="action"
      label="Username"
      data-cy="usernameField"
      :rules="[(e) => rules.required(e) || $t('forms.validation.required')]"
    />
    <PasswordField v-model="formData.password" />
    <PasswordField
      v-model="formData.confirmPassword"
      confirm
      :check-against="formData.password"
    />

    <ErrorAlert v-if="error" :message="error" />

    <v-row no-gutters>
      <v-spacer />
      <v-btn type="submit" color="primary" depressed>Accept invite</v-btn>
    </v-row>
  </v-form>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

import { InvitedUser } from '@/global.types'
import { authFetch } from '@/services/workerise'

import { required } from './inputs/rules'
import PasswordField from './inputs/PasswordField.vue'
import ErrorAlert from './components/ErrorAlert.vue'

export default Vue.extend({
  name: 'AcceptInviteForm',
  components: {
    PasswordField,
    ErrorAlert,
  },
  props: {
    user: {
      type: Object as PropType<InvitedUser>,
      required: true,
    },
  },
  data() {
    return {
      formData: {
        username: undefined as string | undefined,
        password: undefined as string | undefined,
        confirmPassword: undefined as string | undefined,
      },
      error: undefined as string | undefined,
      rules: {
        required,
      },
    }
  },
  methods: {
    async acceptInvitation(): Promise<void> {
      // Reset errors
      this.error = undefined

      // Validation
      // @ts-ignore
      const validationState = this.$refs.acceptInvitationForm.validate()
      if (!validationState) return

      const invitedUser = this.user

      try {
        await authFetch({
          url: '/api/accept-invite/',
          method: 'POST',
          body: JSON.stringify({
            id: invitedUser.id,
            email: invitedUser.email,
            username: this.formData.username,
            password: this.formData.password,
          }),
        })
        this.$emit('invite-accepted', this.formData.username)
      } catch (e) {
        console.error(e)
        this.error = e.message
      }
    },
  },
})
</script>
