<template>
  <v-form ref="changePasswordForm" @submit.prevent="editDetails">
    <v-alert
      v-if="changed"
      type="success"
      data-cy="change-password-success-alert"
    >
      Password changed successfully
    </v-alert>

    <h4 class="mb-2">Current Password</h4>
    <PasswordField
      v-model="formData.oldPassword"
      outlined
      no-validate
      :data-cy="'oldPasswordField'"
    />

    <h4 class="mb-2">New Password</h4>
    <div data-cy="newPasswordSection">
      <PasswordField v-model="formData.newPassword" outlined />

      <PasswordField
        v-model="formData.confirmNewPassword"
        outlined
        confirm
        :check-against="formData.newPassword"
      />
    </div>

    <ErrorAlert v-if="error" :message="error" />

    <v-row no-gutters>
      <v-spacer />
      <v-btn color="primary" depressed type="submit">Submit</v-btn>
    </v-row>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'
import { LocalScheme } from '@nuxtjs/auth-next'

import PasswordField from './inputs/PasswordField.vue'
import ErrorAlert from './components/ErrorAlert.vue'

import { authFetch } from '~/services/workerise'

export default Vue.extend({
  name: 'ChangePasswordForm',
  components: {
    PasswordField,
    ErrorAlert,
  },
  data() {
    return {
      formData: {
        oldPassword: undefined as string | undefined,
        newPassword: undefined as string | undefined,
        confirmNewPassword: undefined as string | undefined,
      },
      changed: false,
      error: undefined as string | undefined,
    }
  },
  methods: {
    async editDetails(): Promise<void> {
      // Reset errors
      this.error = undefined

      // Validation
      // @ts-ignore
      const validationState = this.$refs.changePasswordForm.validate()
      if (!validationState) return

      const strategy = this.$auth.strategy as LocalScheme
      const token = strategy.token.get() as string

      try {
        // Loading state
        // Make Request
        await authFetch({
          url: `/api/change-password/`,
          method: 'POST',
          token,
          body: JSON.stringify({
            old_password: this.formData.oldPassword,
            new_password: this.formData.newPassword,
          }),
        })

        // Handle Success
        this.$emit('password-changed')
        this.changed = true
        // @ts-ignore
        this.$refs.changePasswordForm.reset()
      } catch (err) {
        console.error(err)
        this.error = err.message
      }
    },
  },
})
</script>
