<template>
  <v-form ref="deleteAccountForm" @submit.prevent="deleteAccount">
    <p>
      Please enter the following text to confirm you want to delete your
      account: <code>{{ $auth.user.username }}</code>
    </p>
    <v-text-field
      outlined
      label="Confirm account deletion"
      data-cy="confirmDeleteField"
      :rules="[
        (e) => rules.required(e) || $t('forms.validation.required'),
        (e) => rules.match(e, $auth.user.username) || 'Enter the above text',
      ]"
    />
    <ErrorAlert v-if="error" :message="error" />
    <v-btn color="error" depressed type="submit" block>Delete Account</v-btn>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'
import { LocalScheme } from '@nuxtjs/auth-next'

import { match, required } from './inputs/rules'
import ErrorAlert from './components/ErrorAlert.vue'

import { authFetch } from '~/services/workerise'

export default Vue.extend({
  name: 'DeleteAccountForm',
  components: {
    ErrorAlert,
  },
  data() {
    return {
      rules: {
        match,
        required,
      },
      error: undefined as string | undefined,
    }
  },
  methods: {
    async deleteAccount(): Promise<void> {
      // Reset errors
      this.error = undefined

      // Validation
      // @ts-ignore
      const validationState = this.$refs.deleteAccountForm.validate()
      if (!validationState) return

      const strategy = this.$auth.strategy as LocalScheme
      const token = strategy.token.get() as string

      // @ts-ignore
      const userId = this.$auth.user.id

      try {
        await authFetch({
          url: `/api/users/${userId}/`,
          method: 'DELETE',
          token,
        })
        this.$emit('account-deleted')
      } catch (err) {
        console.error(err)
        this.error = 'There was an error. Please contact support'
      }
    },
  },
})
</script>
