<template>
  <v-form ref="editUserDetailsForm" @submit.prevent="editDetails">
    <ErrorAlert v-if="error" :message="error" />

    <v-alert v-if="updated" type="success" data-cy="edit-details-success-alert">
      Details updated successfully
    </v-alert>

    <v-text-field
      v-model="formData.username"
      label="Username"
      :disabled="!editMode"
      :rules="[(e) => rules.required(e) || $t('forms.validation.required')]"
      data-cy="editUsernameField"
    />
    <v-text-field
      v-model="formData.email"
      label="Email Address"
      :disabled="!editMode"
      :rules="[(e) => rules.required(e) || $t('forms.validation.required')]"
      data-cy="editEmailField"
    />

    <v-row no-gutters>
      <v-spacer />
      <v-btn
        v-if="editMode"
        color="primary"
        depressed
        :disabled="
          formData.email === $auth.user.email &&
          formData.username === $auth.user.username
        "
        class="mr-2"
        type="submit"
        >Submit</v-btn
      >
      <v-btn
        depressed
        data-cy="editDetailsButton"
        @click="
          () => {
            editMode = !editMode
            updated = false
          }
        "
      >
        {{ editMode ? 'Cancel' : 'Edit' }}
      </v-btn>
    </v-row>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'
import { LocalScheme } from '@nuxtjs/auth-next'

import { required } from './inputs/rules'
import ErrorAlert from './components/ErrorAlert.vue'

import { authFetch } from '~/services/workerise'

export default Vue.extend({
  name: 'EditUserDetailsForm',
  components: {
    ErrorAlert,
  },
  data() {
    return {
      formData: {
        // @ts-ignore
        email: this.$auth.user.email as string | undefined,
        // @ts-ignore
        username: this.$auth.user.username as string | undefined,
      },
      editMode: false,
      updated: false,
      rules: {
        required,
      },
      error: undefined as string | undefined,
    }
  },
  methods: {
    async editDetails(): Promise<void> {
      // Reset errors
      this.error = undefined

      // Validation
      // @ts-ignore
      const validationState = this.$refs.editUserDetailsForm.validate()
      if (!validationState) return

      const strategy = this.$auth.strategy as LocalScheme
      const token = strategy.token.get() as string

      // @ts-ignore
      const userId = this.$auth.user.id

      try {
        // Loading state

        // Make Request
        await authFetch({
          url: `/api/users/${userId}/`,
          method: 'PATCH',
          token,
          body: JSON.stringify(this.formData),
        })

        // Handle Success
        this.editMode = false
        this.$emit('user-details-edited')
        this.updated = true

        // Get the user data from the backend
        this.$auth.fetchUser()
      } catch (err) {
        console.error(err)
        this.error = err.message
      }
    },
  },
})
</script>
