<template>
  <v-form ref="inviteColleagueForm" @submit.prevent="inviteColleague">
    <h3>{{ 'Invite a colleague' }}</h3>
    <v-text-field
      v-model="formData.email"
      :rules="[(e) => rules.required(e) || $t('forms.validation.required')]"
      label="Email"
      color="action"
      outlined
      class="mb-n3 mt-3"
      data-cy="emailField"
    />

    <v-alert v-if="error" type="error" data-cy="errorAlert">{{
      error
    }}</v-alert>

    <v-row no-gutters>
      <v-spacer />
      <v-btn
        depressed
        type="submit"
        class="mt-2"
        color="primary"
        data-cy="submitInviteButton"
        >Invite</v-btn
      >
    </v-row>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'
import { authFetch } from '@/services/workerise'
import { LocalScheme } from '@nuxtjs/auth-next'

import { required } from './inputs/rules'

export default Vue.extend({
  name: 'InviteColleagueForm',
  data() {
    return {
      error: undefined as string | undefined,
      formData: {
        email: undefined as string | undefined,
      },
      rules: {
        required,
      },
    }
  },
  methods: {
    async inviteColleague(): Promise<void> {
      // Reset errors
      this.error = undefined

      // Validation
      // @ts-ignore
      const validationState = this.$refs.inviteColleagueForm.validate()
      if (!validationState) return

      const strategy = this.$auth.strategy as LocalScheme
      const token = strategy.token.get() as string

      try {
        await authFetch({
          url: '/api/invite-user/',
          method: 'POST',
          body: JSON.stringify(this.formData),
          token,
        })
        this.$emit('invite-sent')
        this.formData.email = ''
        // @ts-ignore
        this.$refs.inviteColleagueForm.resetValidation()
      } catch (err) {
        console.error(err)
        this.error = err.message
      }
    },
  },
})
</script>
