<template>
  <v-form ref="loginForm" @submit.prevent="login">
    <v-text-field
      v-model="formData.username"
      :label="$t('user.username')"
      color="action"
      :rules="[(e) => rules.required(e) || $t('forms.validation.required')]"
      data-cy="usernameField"
      outlined
    />

    <PasswordField v-model="formData.password" outlined no-validate />

    <v-alert v-if="error" type="error" data-cy="errorAlert">{{
      error
    }}</v-alert>

    <v-row no-gutters>
      <v-spacer />
      <v-btn outlined color="action" type="submit" data-cy="submitButton">{{
        $t('user.login')
      }}</v-btn>
    </v-row>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'

import { required } from './inputs/rules'
import PasswordField from './inputs/PasswordField.vue'

export default Vue.extend({
  name: 'LoginForm',
  components: {
    PasswordField,
  },
  data() {
    return {
      formData: {
        username: undefined,
        password: undefined,
      },
      error: undefined as string | undefined,
      rules: {
        required,
      },
    }
  },
  methods: {
    async login(): Promise<void> {
      // Reset errors
      this.error = undefined

      // Validation
      // @ts-ignore
      const validationState = this.$refs.loginForm.validate()
      if (!validationState) return

      // Make Login Request
      try {
        await this.$auth.loginWith('local', {
          data: this.formData,
        })

        if (this.$auth.loggedIn) {
          this.$emit('login')
        }
      } catch (err) {
        console.error(err)
        this.error = this.$t('forms.errors.badCredentials') as string
      }
    },
  },
})
</script>
