<template>
  <v-form ref="signupForm" @submit.prevent="signup">
    <h3>{{ $t('user.signupForm.aboutWorkplace') }}</h3>
    <v-text-field
      v-model="formData.company_name"
      color="action"
      :label="$t('company.companyName')"
      data-cy="companyNameField"
      :rules="[(e) => rules.required(e) || $t('forms.validation.required')]"
    />

    <h3>{{ $t('user.signupForm.aboutYou') }}</h3>
    <v-text-field
      v-model="formData.username"
      color="action"
      :label="$t('user.username')"
      data-cy="usernameField"
      :rules="[(e) => rules.required(e) || $t('forms.validation.required')]"
    />
    <v-text-field
      v-model="formData.email"
      color="action"
      :label="$t('user.email')"
      data-cy="emailField"
      :rules="[(e) => rules.required(e) || $t('forms.validation.required')]"
    />

    <PasswordField v-model="formData.password" />
    <PasswordField
      v-model="passwordConfirm"
      confirm
      :check-against="formData.password"
    />

    <v-alert v-if="error" type="error">{{ error }}</v-alert>

    <v-row no-gutters>
      <v-spacer />
      <v-btn color="primary" depressed type="submit" data-cy="submitButton">
        {{ $t('user.signup') }}
      </v-btn>
    </v-row>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'

import { authFetch } from '@/services/workerise'

import { required } from './inputs/rules'
import PasswordField from './inputs/PasswordField.vue'

export default Vue.extend({
  name: 'SignupForm',
  components: {
    PasswordField,
  },
  data() {
    return {
      error: undefined as String | undefined,
      formData: {
        username: undefined,
        email: undefined,
        password: undefined,
        company_name: undefined,
      },
      passwordConfirm: undefined,
      rules: {
        required,
      },
    }
  },
  methods: {
    async signup(): Promise<void> {
      // Reset errors
      this.error = undefined

      // Check validation
      // @ts-ignore
      const validationState = this.$refs.signupForm.validate()
      if (!validationState) return

      try {
        await authFetch({
          url: '/api/initialize-company/',
          method: 'POST',
          body: JSON.stringify(this.formData),
        })
        this.$emit('signup', this.formData.username)
      } catch (e) {
        this.error = e.message
        console.error(e)
      }
    },
  },
})
</script>
